@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

/* For Roboto Condensed specific elements */
.font-\[\"Roboto\ Condensed\"\] {
  font-family: 'Roboto Condensed', sans-serif;
}

/* For Roboto specific elements */
.font-\[\"Roboto\"\] {
  font-family: 'Roboto', sans-serif;
}

@keyframes scale-and-color {
  0% {
    transform: scale(1);
    background-color: green;
  }
  100% {
    transform: scale(0.333);
    background-color: blue;
  }
}

.animate-scale-and-color {
  animation: scale-and-color 5s forwards;
}

.fade-in {
  animation: fadeIn 5s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
